<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML #1 Dom Zadanie</title>
    <link rel="stylesheet" href="./style/./css/./page.css">
    <!-- Создать и подключить файл CSS, который должен лежать в папке под названием "css" (она уже есть в проекте) -->
</head>
<body>
    <!--
        - "Выделить" важные текст как заголовок
        - Из крупных блоков текста сделать параграфы
        - Создать списки там, где идёт перечисление 
    -->
    
    <h1>
        Web Browsers
    </h1>
    <p>
        A web browser (commonly referred to as a browser) is a software application for accessing information on the World Wide Web. Each individual web page, image, and video is identified by a distinct Uniform Resource Locator (URL), enabling browsers to retrieve these resources from a web server and display them on a user's device.
    </p>

    <p>
        A web browser is not the same thing as a search engine, though the two are often confused. For a user, a search engine is just a website, such as google.com, that stores searchable data about other websites. But to connect to a website's server and display its web pages, a user must have a web browser installed on their device.
    </p>
    
    <p>
        As of March 2019, more than 4.3 billion people use a browser, which is about 55% of the world’s population. The most popular browsers are Chrome, Firefox, Safari, Internet Explorer, and Edge
    </p>

    <h2>
        Most browsers have these user interface features:
    </h2>

    <ul>
        <li>
            - Allow the user to open multiple pages at the same time, either in different browser windows or in different tabs of the same window.
        </li>

        <li>
            - Back and forward buttons to go back to the previous page visited or forward to the next one.
        </li>

        <li>
            - A refresh or reload button to reload the current page.
        </li>

        <li>
            - A stop button to cancel loading the page. (In some browsers, the stop button is merged with the reload button.)
        </li>

        <li>
            - A home button to return to the user's home page.
        </li>

        <li>
            - An address bar to input the URL of a page and display it.
        </li>

        <li>
            - A search bar to input terms into a search engine. (In some browsers, the search bar is merged with the address bar.)
        </li>
    </ul>

    <h3>Market share:</h3>

    <ol>
        <li>Google Chrome - 72.4%</li>
        <li>Mozilla Firefox - 9.1%</li>
        <li>Internet Explorer - 5.4%</li>
        <li>Safari - 5.1%</li>
        <li>Microsoft Edge - 4.0%</li>
        <li>Opera - 2.2%</li>
    </ol>

    <!--
        Из доступных ниже данных, сделать таблицу о браузерах, в которой будут перечисены их названия, иконки и описание.
        При клике на название браузера, необходимо осуществить переход на соответствующую страницу о браузере в википедии.
    -->

    <!-- Google Chrome -->    
    
    <table border="1">
        <caption> Browsers</caption>
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Icon</td>
                <td>Info</td>
            </tr>
        </thead>

       <tbody>
        <tr>
            <td>1</td>
            <td><a href="https://ru.wikipedia.org/wiki/Google" target="_blank">Chrome</a></td>
            <td><img src="../../images/webkit/chrome/chrome.jpg" alt="Google Chrome"></td>
            <td> 
                <p>
                    Google Chrome (commonly known simply as Chrome) is a cross-platform web browser developed by Google. It was first released in 2008 for Microsoft Windows, and was later ported to Linux, macOS, iOS, and Android. The browser is also the main component of Chrome OS, where it serves as the platform for web apps.
                </p>

                <p>
                    Most of Chrome's source code comes from Google's open-source Chromium project, but Chrome is licensed as proprietary freeware. WebKit was the original rendering engine, but Google eventually forked it to create the Blink engine; all Chrome variants except iOS now use Blink.
                </p>

                <p>
                    As of February 2019, StatCounter estimates that Chrome has a 62% worldwide browser market share across all platforms. Because of this success, Google has expanded the "Chrome" brand name to other products: Chrome OS, Chromecast, Chromebook, Chromebit, Chromebox, and Chromebase.
                </p>                
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td><a href="https://ru.wikipedia.org/wiki/Mozilla_Firefox
            " target="_blank">Firefox</a></td>
            <td><img src="../views/images/mozilla/firefox.jpg" alt="Firefox"></td>
            <td> 
                <p>
                    Mozilla Firefox (or simply Firefox) is a free and open-source web browser developed by The Mozilla Foundation and its subsidiary, Mozilla Corporation. Firefox is available for Microsoft Windows, macOS, Linux, BSD, illumos and Solaris operating systems. Its sibling, Firefox for Android, is also available. Firefox uses the Gecko layout engine to render web pages, which implements current and anticipated web standards. In 2017, Firefox began incorporating new technology under the code name Quantum to promote parallelism and a more intuitive user interface.
                </p>
            
                <p>
                    Firefox was created in 2002 under the codename "Phoenix" by the Mozilla community members who desired a standalone browser, rather than the Mozilla Application Suite bundle. During its beta phase, Firefox proved to be popular with its testers and was praised for its speed, security, and add-ons compared to Microsoft's then-dominant Internet Explorer 6. Firefox was released on November 9, 2004, and challenged Internet Explorer's dominance with 60 million downloads within nine months.
                </p>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td><a href="https://ru.wikipedia.org/wiki/Safari
            " target="_blank">Safari</a></td>
            <td><img src="../../images/webkit/safari/safari.jpg" alt="Safari"></td>
            <td> 
                <p>
                    Safari is a graphical web browser developed by Apple, based on the WebKit engine. First released on desktop in 2003 with Mac OS X Panther, a mobile version has been bundled with iOS devices since the iPhone's introduction in 2007. Safari is the default browser on Apple devices. A Windows version was available from 2007 to 2012.
                </p>
            
                <p>
                    Until 1997, Apple’s Macintosh computers shipped with the Netscape Navigator and Cyberdog web browsers only. Internet Explorer for Mac was later included as the default web browser for Mac OS 8.1 and later, as part of a five-year agreement between Apple and Microsoft. During that time, Microsoft released three major versions of Internet Explorer for Mac that were bundled with Mac OS 8 and Mac OS 9, though Apple continued to include Netscape Navigator as an alternative. Microsoft ultimately released a Mac OS X edition of Internet Explorer for Mac, which was included as the default browser in all Mac OS X releases from Mac OS X DP4 up to and including Mac OS X v10.2.
                </p>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td><a href="https://ru.wikipedia.org/wiki/Opera
            " target="_blank">Opera</a></td>
            <td><img src="../../images/webkit/opera/opera.jpg" alt="Opera"></td>
            <td> 
            <p>
                Opera is a web browser for Microsoft Windows, Android, iOS, macOS, and Linux operating systems. Opera Ltd. is publicly listed on the NASDAQ stock exchange, with majority ownership and control belonging to Chinese Businessman Yahui Zhou, creator of Beijing Kunlun Tech which specialises in mobile games and cybersecurity specialist Qihoo 360. Opera is a Chromium-based browser using the Blink layout engine. It differentiates itself because of a distinct user interface and other features.
            </p>
            
                <p>
                    Opera was conceived at Telenor as a research project in 1994 and was bought by Opera Software in 1995. It was commercial software for the first ten years and had its own proprietary Presto layout engine. The Presto versions of Opera received many awards, but Presto development ended after the big transition to Chromium in 2013.
                </p>
                
                <p>
                    There are also three mobile versions called Opera Mobile, Opera Touch and Opera Mini.
                </p>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td><a href="https://ru.wikipedia.org/wiki/Internet_Explorer
            " target="_blank">Internet Explorer</a></td>
            <td><img src="../views/images/microsoft/internet-explorer/ie.png" alt="Internet Explorer"></td>
            <td> 
                <p>
                    Internet Explorer (formerly Microsoft Internet Explorer and Windows Internet Explorer, commonly referred to as Explorer and abbreviated IE or MSIE) is a series of graphical web browsers (or as of 2019, a "compatibility solution") developed by Microsoft and included in the Microsoft Windows line of operating systems, starting in 1995. It was first released as part of the add-on package Plus! for Windows 95 that year. Later versions were available as free downloads, or in service packs, and included in the original equipment manufacturer (OEM) service releases of Windows 95 and later versions of Windows. The browser is discontinued, but still maintained.
                </p>

                <p>
                    Internet Explorer was once the most widely used web browser, attaining a peak of about 95% usage share by 2003. This came after Microsoft used bundling to win the first browser war against Netscape, which was the dominant browser in the 1990s. Its usage share has since declined with the launch of Firefox (2004) and Google Chrome (2008), and with the growing popularity of operating systems such as Android and iOS that do not run Internet Explorer.
                </p>
            </td>
        </tr>

        <tr>
            <td>6</td>
            <td><a href="https://ru.wikipedia.org/wiki/Microsoft_Edge
            " target="_blank">Microsoft Edge</a></td>
            <td><img src="../views/images/microsoft/edge/me.png" alt="Microsoft Edge"></td>
            <td> 
                <p>
                    Microsoft Edge is a web browser developed by Microsoft. It was first released for Windows 10 and Xbox One in 2015, then for Android and iOS in 2017.
                </p>

                <p>
                    Edge includes integration with Cortana and has extensions hosted on the Microsoft Store. Unlike Internet Explorer, Edge does not support the legacy ActiveX and BHO technologies.
                </p>
    
                <p>
                    Originally built with Microsoft's own EdgeHTML and Chakra engines, Edge is currently being rebuilt as a Chromium-based browser, using the Blink and V8 engines, based upon WebKit. As part of this big change, Microsoft intends to add support for Windows 7, 8, 8.1, and macOS.
                </p>

                <p>
                    Microsoft Edge is the default web browser on Windows 10, Windows 10 Mobile, and Xbox One consoles, replacing Internet Explorer 11 and Internet Explorer Mobile. Microsoft initially announced that Edge would support the legacy Trident (MSHTML) layout engine for backwards compatibility, but later said that, due to "strong feedback", Edge would use a new engine, while Internet Explorer would continue to provide the legacy engine.
                </p>
            </td>
        </tr>
       </tbody>
    </table>
   
    <!-- Mozilla Firefox -->

    <!-- Safari -->

    <!-- Opera -->

    <!-- Microsoft Internet Explorer -->

    <!-- Microsoft Edge -->


    <!--
        Создать форму отправки данных с такими элементами:
        - поле для ввода имени, в котором будет написано "Full Name"
        - поле для ввода email адреса, в котором будет написано "E-mail"
        - кнопка с текстом "Subscribe"
    -->
<form action="/register" method="POST">
    <h3>Please subscribe if you want to know more!</h3>

    <input type="text" name="full_name" placeholder="Full Name"><br><br>
    <input type="email" name="email" placeholder="E-mail"><br><br>
    <button>Subscribe</button>
</form>

    <!-- Поместить этот слоган в форму -->
    
    
</body>
</html>