body {
    margin: 0;
    font-family: sans-serif;
}

/* ЗАДАНИЕ 1 */
/* Нужно разметить элементы так, как на картинке example.png */
/* Нужно использовать псевдоклассы для обращения к нужным HTML-элементам */

.container {
    max-width: 300px;
    margin: 50px auto 0;
    height: 200px;
    position: relative;
}

.box {
    padding: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
}

/* Первый элемент .box */
.box:first-child  {
    background-image: linear-gradient(to top, #00008b, #0000ff);
    top: 0;
    left: 0;
    z-index: 3;
    position: absolute;
    
}

/* Второй по счёту элемент .box */
.box:nth-child(2) {
    background-image: linear-gradient(to top, #8b0000, #ff0000);
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 30px;
}

/* Третий по счёту элемент .box */
.box:nth-child(3) {
    background-image: linear-gradient(to top, #004200, #009c00);
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 60px;
}

/* Последний элемент .box */
.box:last-child {
    background-image: linear-gradient(to top, #685801, #ffd700);
    position: absolute;
    top: 90px;
    left: 90px;
    z-index: 2;
}


/* ЗАДАНИЕ 2 */
/* Нужно использовать псевдоклассы для обращения к нужным HTML-элементам */

.info {
    border-radius: 10px;
    background-color: #c9f2ff;
    padding: 20px;
    max-width: 400px;
}

/* Нужно выбрать первый HTML-элемент внутри .info типа span */
.info span:first-of-type {
    color: #000079;
    border-color: #000079;
}

/* Нужно выбрать последний HTML-элемент внутри .info типа span */
.info span:last-of-type {
    color: #af0202;
    border-color: #af0202;
}

/* Нужно выбрать все HTML-элементы внутри .info, кроме strong */
.info *:not(strong) {
    color: #006100;
    font-weight: bold;
    border-bottom: 2px solid #006100;
}


/* ЗАДАНИЕ 3 */
/* Нужно использовать псевдоклассы для обращения к нужным HTML-элементам */

.form {
    background-color: #90ee90;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.form input {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
    font-size: 1em;
    border: 2px solid transparent;
    color: #333;
    padding: 3px 6px;
}

/* Нужно выбрать последний элемент внутри .form типа input */
.form input:last-of-type {
    margin-bottom: 20px;
}

/* Нужно выбрать все элементы input внутри .form при "фокусе" на них */
.form input:focus {
    box-shadow: 0 3px 5px #111;
}

.form button {
    border: none;
    background-image: linear-gradient(to top, #333, #ccc);
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
}

/* Нужно выбрать элемент button внутри .form при "фокусе" на нём, а также элемент button внутри .form при "наведении мышки" на него */
.form button:focus,
.form button:hover {
    box-shadow: 0 3px 5px #111;
    background-image: linear-gradient(to bottom, #ccc, #fff);
    color: #111;
}


/* ЗАДАНИЕ 4 */

ol li ul {
    list-style-type: none;
}

/* Выбрать тот элемент div, в котором написано OK, используя только псевдоклассы. Нужно "зафиксировать" его в нижнем правом углу окна браузера, чтобы при прокрутке он всегда там и оставался (не впритык к краю, а с небольшими отступами) */

ol li:last-child ul:last-of-type li:nth-child(3) div:first-child {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 80px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px #111;
    text-shadow: 0 2px 5px #111;
    background-image: linear-gradient(to top right, #5c0101, #ff0000);
}

/* Скрыть из вида все остальные HTML-элементы (кроме элемента p) данного задания */
ol li:last-child ul:first-of-type,
ol li:last-child ol,
ol li:last-child ul:last-of-type li:first-child,
ol li:last-child ul:last-of-type li:nth-child(2),
ol li:last-child ul:last-of-type li:last-child,
ol li:last-child ul:last-of-type li:nth-child(3) div:nth-child(2),
ol li:last-child ul:last-of-type li:nth-child(3) div:nth-child(3),
ol li:last-child ul:last-of-type li:nth-child(3) div:last-child {
    display: none;
}