* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block {
    background: linear-gradient(to right, blue, darkblue);
    color: rgb(243, 240, 240);
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 0 7px 1px darkgreen;
    font-size: 1.3rem;
    font-weight: 600;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas: 
        'header header header'
        'sidebar content-left content-right-top'
        'sidebar content-left content-right-bottom'
        'footer footer footer';
        
}
.header {
    grid-area: header;
    /* grid-column: 1 / 4;
    grid-row: 1 / 2; */
}
.sidebar {
    grid-area: sidebar;
    /* grid-column: 1 / 2;
    grid-row: 2 / span 2; */
}
.content-left {
    grid-area: content-left;
    /* grid-column: 2 / 3;
    grid-row: 2 / 4; */
}
.content-right-top {

}
.footer {
    grid-area: footer;
    /* grid-column: 1 / -1;
    grid-row: 4 / 5; */
}