:root {
    --ff-main:'Lato', sans-serif;
    --ff-title:'Open Sans Condensed', sans-serif;
    --
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    padding: 20px;
    background-image: url(./images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: var(--ff-main);

}
.header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img-wrapper {
    max-width: 120px;
min-width: 120px;
}
.header__img {
width: 100%;
}
.header__form {
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 8px 1px #4bedf3e7;
    display: flex;
    flex-direction: column;
}
.header__label {
    display: block;
    max-width: 100px;
    width: 100%;
    margin-right: 20px;
}
.header__field-wrapper {
display: flex;
align-items: center;
margin-bottom: 20px;

}
.header__input {
    display: block;
    font-size: 1rem;
    outline: none;
    padding: 5px;


}
.header__btn {
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    align-self: center;
}

