/* body */
body {
    background-color: lightblue;
}

/* Все <h2> */
h2 {
    text-decoration: underline;
}

/* Все <h3> */
h3 {
    text-decoration: line-through;
}

/* Только <h2> с текстом "Contacts" и "Gallery" */
.contacts-galery {
    color: greenyellow;
}

/* Все <p> */
p {
    font-style: italic;
}

/* Только последний <p> секции "About us" */
.last-paragraf {
    color: white;
}

/* Все <b> */
b {
    font-size: 18px;
    color: lightseagreen;
}

/* Каждый 2-й <b> в <p> секции "About us" */
b:nth-child(2) {
    color: red;
}

/* Все <a> */
a {
    letter-spacing: 3px;
}

/* Только <a> секции "Contacts" с номером (073) */
.life {
    background-color: orange;
}

/* Все <img> */
img {
    border: 4px inset darkorchid;
}

/* Только <img>, на которых изображены люди */
.people {
    border-radius: 50%;   
}

/* Только <img>, на которых изображены мужчины */
.man {
    transform: scale(.7);
}

/* Только <img>, на которых изображены женщины */
.women {
    opacity: .5;
}

/* Только <img> со вторым по счёту мужчиной */
.second {
    border: 15px dashed orange;
}

/* <table>, все <th> и <td> */
table, th, td {
    border: 1px solid black;
}

/* Все <th> */
th {
    color: darkblue;
    text-align: center;
}

/* Только <th> в <tbody> */
tbody th {
    font-size: 25px;
}

/* Только <th> и <td>, у которых есть атрибуты "rowspan", "colspan" */
th[rowspan],
td[rowspan],
th[colspan],
td[colspan] {
    font-style: italic;
}

/* Все <input>, кроме "кнопки" */
input {
    display: block;
}

/* Все <input>, кроме "кнопки", "radio" и "checkbox" */
[type='text'],
[type='email'],
[type='password'] {
    border: 2px solid aqua;
}

/* Все <b> секции "Follow us" */
.follow-us b {
    color: purple;
}

/* Кнопка для отправки данных */
button {
    background-color: lightgreen;
}

/* Только <h3> секции "Follow us" */
.follow-us h3 {
    text-transform: uppercase;
}